@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
}

.hidden {
    overflow: hidden;
}

.block {
    display: flex !important;
}
/*-----Header-----*/
.header {
    padding: 20px 20px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgba(17, 17, 17, 0.11);
}

.header-wrapper {
    display: flex;
    max-width: 1200px;
    flex-basis: 100%;
    justify-content: space-between;
    align-items: center;
}

.header-logo h1 {
    align-items: center;
    font-family: "Manrope", sans-serif;
    font-weight: 800;
    font-size: 30px;
}

.header-menu {
    display: flex;
    max-width: 420px;
    flex-basis: 100%;
}

.header-menu ul {
    display: flex;
    list-style-type: none;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
}

.header-menu a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.header-menu-mobile {
    display: none;
}

.header-menu-cat {
    margin-right: 10px;
}

.header-menu-info {
    margin-right: 5px;
}

.first-menu {
    background-color: #ececec;
    padding: 15px 20px;
    border-radius: 12px;
    transition: 0.5s;
}

.first-menu:hover {
    background-color: #e2e2e2;
    cursor: pointer;
}

.second-menu img {
    transition: 0.5s;
}

.second-bar:hover > a img {
    transform: rotate(0.5turn);
}

.second-menu-scroll {
    position: absolute;
    top: 22px;
    left: 0px;
    display: none;
    width: 160px;
    height: 175px;
    border-radius: 15px;
    background-color: white;
    border: 1px solid #9e9e9e8f;
    z-index: 999;
    overflow: hidden;
}
.second-menu-scroll .second-menu-bar {
    display: block;
}

.second-bar {
    position: relative;
    padding-bottom: 0px;
}

.second-menu-bar li {
    padding: 10px;
    cursor: pointer;
}

.second-menu-bar li:hover {
    background-color: #9e9e9e65;
}

.second-bar:hover > .second-menu-scroll {
    display: flex;
}

.menu-catalog {
    position: absolute;
    top: 96px;
    left: 0;
    width: calc(100vw - 20px);
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
    background-color: white;
    transition: 0.5s;
}

.menu-catalog .catalog-item {
    margin-bottom: 40px;
}

.menu-catalog-wrapper {
    display: flex;
    max-width: 1200px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.catalog-item ul {
    display: block;
}

.catalog-item h2 {
    margin-bottom: 20px;
}

.catalog-item ul li {
    margin-bottom: 10px;
    transition: 0.5s;
}

.catalog-item ul li:hover {
    color: rgb(75, 75, 189);
}

@media (max-width: 1250px) {
    .menu-catalog-wrapper {
        max-width: 1000px;
    }
}

@media (max-width: 1023px) {
    .header-menu {
        display: none;
    }
    .header-menu-mobile {
        display: block;
    }
}
/*-----Main-----*/
.main {
    padding: 20px 20px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgba(17, 17, 17, 0.11);
}

.main-wrapper {
    max-width: 1200px;
    flex-basis: 100%;
}
/*-----Slider-----*/
.main-first-slider {
    width: 100%;
}

.slider-banner {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-info h3 {
    margin-bottom: 15px;
    font-family: "Manrope", sans-serif;
    font-weight: 800;
    font-size: 40px;
}

.banner-info p {
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #9e9e9e;
}

.banner-info button {
    margin-top: 50px;
    padding: 12px 25px;
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    font-size: 20px;
    background-color: rgb(255, 255, 255);
    border: 2px solid #ececec;
    border-radius: 15px;
    transition: 0.5s;
}

.banner-info button:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border: 2px solid black;
    cursor: pointer;
}

.banner-price {
    display: flex;
}

.banner-price p {
    align-items: center;
    font-family: "Manrope", sans-serif;
    font-weight: 800;
    font-size: 25px;
    color: rgb(255, 0, 0);
}

.banner-price img {
    width: 38px;
    margin-right: 10px;
}

@media (max-width: 1043px) {
    .slider-banner {
        flex-wrap: wrap;
        justify-content: center;
    }

    .banner-info button {
        margin-top: 25px;
    }

    .banner-img {
        max-width: 700px;
        flex-basis: 100%;
    }
    .banner-img img {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .banner-img {
        max-width: 500px;
        flex-basis: 100%;
        justify-content: center;
    }
    .banner-img img {
        width: 100%;
    }
    .banner-info h3 {
        font-size: 32px;
    }

    .banner-info p {
        font-size: 18px;
    }

    .banner-price p {
        font-size: 20px;
    }

    .banner-price img {
        width: 30px;
        margin-right: 10px;
    }
}

@media (max-width: 374px) {
    .banner-info h3 {
        font-size: 25px;
    }

    .banner-info p {
        font-size: 15px;
    }

    .banner-price p {
        font-size: 15px;
    }

    .banner-price img {
        width: 20px;
        margin-right: 10px;
    }

    .banner-info button {
        padding: 10px 23px;
        font-size: 18px;
    }
}
/*-----Categories-----*/
.main-categories {
    width: 100%;
}

.categories-title {
    padding: 30px 20px;
    display: flex;
    justify-content: center;
    font-family: "Manrope", sans-serif;
    font-weight: 800;
    font-size: 23px;
}

.categories-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cat-item {
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    margin-bottom: 15px;
}
.cat-item img {
    transition: 0.5s;
}
.cat-item:hover > img {
    transform: scale(130%);
    cursor: pointer;
}
.cat-item pre {
    position: absolute;
    top: 70%;
    left: 19%;
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    font-size: 22px;
    color: rgb(255, 255, 255);
    z-index: 999;
    cursor: pointer;
}

.cat-con-mobile {
    display: none;
}

@media (max-width: 1204px) {
    .categories-container {
        justify-content: space-around;
    }
}

@media (max-width: 849px) {
    .categories-container {
        display: none;
    }

    .cat-con-mobile {
        display: block;
    }

    .cat-con-mobile ul li {
        margin-bottom: 10px;
        padding: 20px;
        list-style-type: none;
        border: 1px solid #9e9e9e;
        border-radius: 15px;
    }

    .cat-con-mobile a {
        font-family: "Manrope", sans-serif;
        font-weight: 600;
        font-size: 22px;
        text-decoration: none;
        color: black;
    }

    .cat-con-mobile a img {
        margin-right: 10px;
    }
}
@media (max-width: 425px) {
    .categories-title h2 {
        font-size: 25px;
    }

    .cat-con-mobile a {
        font-size: 18px;
    }
}
/*-----Price-----*/
.main-price {
    padding: 20px 0;
}

.price-menu {
    margin-top: 50px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
}

.price-menu ul {
    width: 810px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.price-menu li {
    margin-bottom: 15px;
    margin-right: 50px;
    list-style-type: none;
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    font-size: 22px;
    white-space: nowrap;
    cursor: pointer;
}

.price-menu li:last-child {
    margin-right: 0;
}

.price-menu-active {
    padding: 10px 20px;
    border-radius: 15px;
    border: 1px solid #9e9e9e;
}

.price-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.price-item {
    position: relative;
    margin-bottom: 20px;
    display: flex;
    max-width: 580px;
    height: 400px;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
    border: 1px solid #9e9e9e;
    border-radius: 25px;
}

.price-item-img {
    width: 267px;
    height: 267px;
}
.price-item-img img {
    width: 100%;
}
.price-item-content h3 {
    margin-bottom: 15px;
    font-family: "Manrope", sans-serif;
    font-weight: 800;
    font-size: 30px;
}
.price-item-content ul li {
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    font-size: 16px;
    list-style-type: none;
}

.price-item-content p {
    margin: 15px 0;
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    font-size: 25px;
}

.price-item-content button {
    padding: 10px 20px;
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    font-size: 15px;
    background-color: rgb(255, 255, 255);
    border: 2px solid #ececec;
    border-radius: 15px;
    transition: 0.5s;
    cursor: pointer;
}

.price-popup {
    position: absolute;
    top: 35px;
    left: 315px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #ac2ff8;
    color: white;
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-size: 16px;
}
.price-container-wrapper {
    display: flex;
    justify-content: center;
}
@media (max-width: 1210px) {
    .price-container {
        justify-content: space-around;
    }
}

@media (max-width: 1000px) {
    .price-menu-scroll {
        width: 600px;
        overflow-x: scroll;
    }
}

@media (max-width: 768px) {
    .price-container {
        width: 600px;
        overflow-x: scroll;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }

    .price-item {
        min-width: 300px;
        height: 400px;
        margin-right: 20px;
        display: flex;
        flex-direction: column;
    }
    .price-item-img {
        width: 180px;
        height: 180px;
    }
    .price-item-content ul {
        display: none;
    }
    .price-item-content h3 {
        font-size: 20px;
    }
    .price-item-content p {
        font-size: 18px;
    }
    .price-item-content button {
        padding: 10px 15px;
        font-size: 16px;
    }
    .price-popup {
        top: 10px;
        left: 10px;
    }
}

@media (max-width: 620px) {
    .price-menu-scroll {
        width: 400px;
        overflow-x: scroll;
    }

    .price-container {
        width: 400px;
    }
}

@media (max-width: 414px) {
    .price-menu-scroll {
        width: 300px;
        overflow-x: scroll;
    }

    .price-container {
        width: 300px;
    }

    .price-item {
        min-width: 230px;
        height: 380px;
    }
    .price-item-img {
        width: 150px;
        height: 150px;
    }
    .price-item-content ul {
        display: none;
    }
    .price-item-content h3 {
        font-size: 18px;
    }
    .price-item-content p {
        font-size: 21px;
    }
    .price-item-content button {
        padding: 10px 15px;
        font-size: 16px;
    }
    .price-popup {
        top: 10px;
        left: 10px;
    }
}
@media (max-width: 319px) {
    .price-menu-scroll {
        width: 250px;
        overflow-x: scroll;
    }
    .price-container {
        width: 250px;
    }
}
/*-----News-----*/
.main-news {
    max-width: 1200px;
    flex-basis: 100%;
}

.main-news-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main-news-title {
    margin-top: 40px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    font-family: "Manrope", sans-serif;
    font-weight: 800;
    font-size: 30px;
}

.news-container-block {
    margin-bottom: 20px;
    margin-right: 20px;
    border-radius: 25px;
    max-width: 360px;
    flex-basis: 100%;
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    font-size: 16px;
}

.news-block-img {
    width: 100%;
    border-radius: 20px;
    margin-bottom: 15px;
    overflow: hidden;
    cursor: pointer;
}

.news-block-info {
    cursor: pointer;
}

.news-block-img img {
    width: 100%;
    border-radius: 20px;
    transition: 0.5s;
}

.news-block-img img:hover {
    transform: scale(130%);
}

@media (max-width: 1179px) {
    .main-news-container {
        justify-content: space-around;
    }
}

@media (max-width: 768px) {
    .main-news-title {
        font-size: 16px;
    }
}
/*-----Info-----*/
.main-info-title {
    margin-top: 40px;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    font-size: 32px;
}

.info-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.info-block {
    margin-right: 20px;
    max-width: 340px;
    flex-basis: 100%;
}

.info-img {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.info-title {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    font-family: "Manrope", sans-serif;
    font-weight: 800;
    font-size: 24px;
}

.info-text {
    margin-bottom: 50px;
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #9e9e9e;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.info-content {
    margin-bottom: 30px;
    padding: 50px 100px;
    border: 2px dashed rgba(0, 0, 0, 0.212);
    border-radius: 12px;
}

.info-content-title {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    font-family: "Manrope", sans-serif;
    font-weight: 800;
    font-size: 24px;
    text-align: center;
}

.info-content-text {
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-align: left;
}

@media (max-width: 1119px) {
    .info-container {
        justify-content: space-around;
    }
}

@media (max-width: 759px) {
    .info-content {
        display: none;
    }

    .main-info-title {
        font-size: 25px;
    }
}

@media (max-width: 425px) {
    .main-info-title {
        margin-bottom: 40px;
        font-size: 18px;
    }

    .info-title {
        font-size: 18px;
    }

    .info-text {
        font-size: 16px;
    }
}
/*-----Footer-----*/
.footer {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.footer-wrapper {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 100%;
}

.footer-info {
    max-width: 550px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    flex-basis: 100%;
}

.footer-logo {
    margin-right: 40px;
    margin-bottom: 20px;
}

.footer-logo h2 {
    font-family: "Manrope", sans-serif;
    font-weight: 800;
    font-size: 24px;
}

.footer-logo p {
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #9e9e9e;
}

.footer-bar ul {
    list-style-type: none;
}

.footer-bar li {
    margin-bottom: 10px;
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-size: 13px;
    cursor: pointer;
}

.footer-bar h3 {
    margin-bottom: 20px;
    font-family: "Manrope", sans-serif;
    font-weight: 800;
    font-size: 18px;
}

.footer-links-title {
    margin-bottom: 20px;
    font-family: "Manrope", sans-serif;
    font-weight: 800;
    font-size: 18px;
}

.footer-telegram,
.footer-mail {
    margin-bottom: 10px;
    padding: 15px 25px;
    border-radius: 10px;
    text-align: center;
    background-color: black;
    color: white;
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
}

@media (max-width: 850px) {
    .footer-links {
        display: none;
    }
}
